
<div class="row">
    {{#each trails as |trail|}}
    <div class="col-sm-4" style="background-color: #d2dee0ff; padding: 20px">
        <div class="text-center">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <h4>{{trail.name}}</h4>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                    <button id="favorite-btn" class="btn" ><span class="glyphicon glyphicon-heart-empty"></span></button>
                    </ul>
                </div>
            </nav>
                <a href="#demo{{trail.id}}" data-toggle="collapse">
                    <img src="{{trail.img_ref}}" class="img-circle" alt="Trail Image" width="255" height="255">
                </a><br>
                <div id="demo{{trail.id}}" class="collapse">
                    <p>{{trail.length}} miles </p>
                    <p>Difficulty: {{trail.difficulty}}</p>
                    <p>Animals <span class="glyphicon glyphicon-ok"></span></p>
                    <p>Bikes <span class="glyphicon glyphicon-remove"></span></p>
                    <p>{{trail.description}}</p>
                    <p>Comment section display here </p>
                </div>
        </div>
    </div>
    {{/each}}
</div>
