
<div class="row">
    {{#each trails as |trail|}}
    <div class="col-sm-5" style="background-color: #d2dee0ff; padding: 20px">
        <div class="text-center">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <h4>{{name}}</h4>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                    <button id="favorite-btn" class="btn" ><span class="glyphicon glyphicon-heart-empty"></span></button>
                    </ul>
                </div>
            </nav>
                <a href="#demo{{id}}" data-toggle="collapse">
                    <img src="/img/example.jpg" class="img-circle" alt="Trail Image" width="255" height="255">
                </a><br>
                <div id="demo{{id}}" class="collapse">
                    <p>{{length}} miles | <span class="label label-warning">{{difficulty}}</span> </p>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <p>Animals {{#if dog_friendly }}<span class="glyphicon glyphicon-ok"></span>{{else}}<span class="glyphicon glyphicon-remove"></span>{{/if}}</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <p>Bikes {{#if bike_friendly }}<span class="glyphicon glyphicon-ok"></span>{{else}}<span class="glyphicon glyphicon-remove"></span>{{/if}}</p>
                        </div>
                    </div>
                    
                    <p>{{description}}</p>
                    <p>Comment section display here </p>
                </div>
            {{/each}}
        </div>
    </div>
</div>
